#cast{
    position: absolute;
    z-index: 1;
    font-size: 30px;
    margin: 10px;
    opacity: 0.5;
}
ion-list{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  
  .channel-logo{
    width: 25px;
    margin-right: 5px;
  }

  img{
    width: 25px !important;
    margin-right: 5px !important;
  }