#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 25px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

a{
  text-decoration: none;
  text-align: center;
  color: #fff;
}
div a:hover > ion-item > ion-label{
  color: #98E4FF;
  font-size: 23px;
  white-space: nowrap;
}
ion-list{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.channel-logo{
  width: 25px;
  margin-right: 5px;
}

.acordeon-logo{
  width: 25px;
  margin-right: 5px;
}

ion-select{
  max-height: 50% !important;
}

.vertical-center {
  margin-top: 12px;
}

ion-label:focus-visible, a:focus-visible, ion-col:focus-visible{
  color: rgb(0 255 141) !important;
  outline: none;
}
#desktop-menu:focus-visible{
  outline: none;
}