<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" color="light" style="font-size: 16px;">
    <p style="font-size: 18px;">Instrucciones de Uso de la Aplicacion</p>
    <p>Selecciona Categoria: </p>
    <ion-img src="assets/instrucciones/lista.png"></ion-img>
    <p>Selecciona Canal:</p>
    <ion-img src="assets/instrucciones/canales.png"></ion-img>

    <p>Y listo!</p>
    <ion-img src="assets/instrucciones/cargandocanal.png"></ion-img>

    <p style="font-style: italic; font-size: 12px;">* Algunos canales pueden demorar en conectar dependiendo de la conexion que haya en el momento</p>

  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center" size="large">Fly TV <img src="assets/icon/logo-icon.png"
          style="width: 30px;"></ion-title>
    </ion-toolbar>
    <ion-list color="light" class="ion-text-capitalize">
      <ion-item color="light" class="ion-text-capitalize">
        <ion-select class="ion-text-capitalize" color="light" aria-label="Fruit" interface="popover"
          placeholder="Seleccione una categoria" [innerHTML]="htmlSelectOption" (ionChange)="handleChange($event)">
          <!-- <ion-select-option color="dark" *ngfor="let canal of canales" [value]="canal.name">{{canal.name}}</ion-select-option> -->
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-header>

  <ion-content>

    <ion-list *ngFor="let channel of channels">
        <ion-item color="dark" *ngIf="channel.enabled">
          <img class="channel-logo" [src]="channel.logo"><ion-label [attr.id]="channel.id" [routerLink]="channel.iframe ? ['/iframe'] : ['/reproductor']" [queryParams]="{id: channel.id}">{{channel.name}}

            <ion-label style="font-size: 12px;" *ngIf="channel.transmitiendo.current !== ''"><ion-icon name="chevron-forward-outline" style="color: aquamarine;"></ion-icon>{{channel.transmitiendo.current}}</ion-label>
            <ion-label style="font-size: 12px;" *ngIf="channel.transmitiendo.next !== ''">{{channel.transmitiendo.next}}</ion-label>

          </ion-label>
          <ion-label class="ion-text-right" *ngIf="channel.parrilla.length" style="font-size: 14px;    color: aquamarine;" ><p expand="block" (click)="setOpen(true, channel)">ver programacion</p></ion-label>
        </ion-item>
    </ion-list>
    
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title><img [src]="channelModal.logo"
              style="width: 30px; vertical-align: middle; margin-right: 10px;">Programacion {{channelModal.name}}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false,channel)">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <h4 class="ion-text-center">{{channelModal.diaParrilla}}</h4>

          <ion-list *ngFor="let p of modalParrilla">
            <ion-item>
              <ion-label>
                {{p.horaNormal}}
              </ion-label>
              <ion-label>
                {{p.programa}}
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

  </ion-content>